* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;

  }

  h1{
    display: block;
    color: white;
  }
    
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
    
  header, footer {
    background-color: #00aeef;
  }
  